@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("../fonts/stylesheet.css");
.single-article .excerpt, .section-about-me .description, footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

header #nav-1.navbar .dropdown-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.single-article .category-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header #nav-1.navbar .nav-link, header #nav-1.navbar .nav-link:visited, header #nav-1.navbar .nav-link:hover, h2, .btn, .btn-trasparent, .main-title .pretitle, .morebutton, .article-item .description, .single-article h1, footer .footer-infos .title, footer .footer-menu {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.category-title {
  font-family: 'Bw Vivant Thin Skinny';
  font-weight: 100;
  font-style: normal;
}

.section-about-me .title {
  font-family: 'Bw Vivant Med';
  font-weight: 500;
  font-style: normal;
}

.main-title h1 {
  font-family: "Bw Vivant";
  font-weight: 700;
  font-style: normal;
}

header #nav-1.navbar .dropdown-menu, .btn, .bordered-ff {
  border-radius: 0;
}

*:focus {
  outline: none !important;
}

.pt-10, .py-10 {
  padding-top: 8rem !important;
}

.pb-10, .py-10 {
  padding-bottom: 8rem !important;
}

.mt-10, .my-10 {
  padding-top: 8rem !important;
}

.mb-10, .my-10 {
  padding-bottom: 8rem !important;
}

.bg-transparent {
  background-color: transparent;
}

.no-gutter.row {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter.container,
.no-gutter.container-fluid,
.no-gutter > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding: 0 !important;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .order-lg-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.flutter-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flutter-wrap.flutter-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flutter-wrap .flutter-box {
  max-width: 615px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-col {
  width: 30%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img.all {
  width: 100%;
  height: 100%;
}

.img-fixed {
  background-attachment: fixed;
}

.img-bgas {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.img-bgas img, .img-bgas video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.full-width img {
  width: 100%;
}

.navbar-toggler {
  position: relative;
  border: none;
  font-size: 14px;
}

.navbar-toggler i {
  color: #264A2F;
}

header .logo {
  margin: 30px 0;
  text-align: center;
}

@media screen and (max-width: 575px) {
  header .logo img {
    width: calc(100% - 60px);
  }
}

@media screen and (min-width: 576px) {
  header .logo img {
    width: 500px;
  }
}

header #nav-1.navbar {
  padding: 15px 0;
  background-color: #FFF;
  color: #00852A;
  -webkit-transition: height 1.5s;
  transition: height 1.5s;
}

header #nav-1.navbar .navbar-brand {
  position: relative;
  width: 140px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

header #nav-1.navbar .navbar-brand img {
  width: 100%;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

header #nav-1.navbar .navbar-collapse {
  background-color: #FFF;
}

@media screen and (max-width: 991px) {
  header #nav-1.navbar .navbar-collapse {
    padding: 15px;
  }
}

header #nav-1.navbar .nav-item {
  position: relative;
}

@media screen and (min-width: 992px) {
  header #nav-1.navbar .nav-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #00852A;
  }
}

header #nav-1.navbar .nav-link, header #nav-1.navbar .nav-link:visited, header #nav-1.navbar .nav-link:hover {
  position: relative;
  font-size: 14px;
  text-transform: lowercase;
  color: #333333;
}

@media screen and (min-width: 992px) {
  header #nav-1.navbar .nav-link, header #nav-1.navbar .nav-link:visited, header #nav-1.navbar .nav-link:hover {
    padding-right: 30px;
    padding-left: 30px;
  }
}

header #nav-1.navbar .nav-item:first-child .nav-link {
  padding-left: 0;
}

header #nav-1.navbar .nav-item:last-child .nav-link {
  padding-right: 0;
}

header #nav-1.navbar .nav-link:hover, header #nav-1.navbar .nav-item.show .nav-link {
  color: #00A6DD;
}

header #nav-1.navbar .dropdown-menu {
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}

header #nav-1.navbar .dropdown-item {
  font-size: 14px;
  color: #333333;
  padding: .25rem .5rem;
}

header #nav-1.navbar.navbar-scroll {
  height: 60px;
}

header #nav-1.navbar.navbar-scroll .navbar-brand {
  width: 80px;
}

html, body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

@media screen and (max-width: 575px) {
  html, body {
    font-size: 18px;
  }
}

@media screen and (min-width: 576px) {
  html, body {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  html, body {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  html, body {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  html, body {
    font-size: 20px;
  }
}

a, a:hover, a:visited {
  color: #00A6DD;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

h2 {
  font-size: 1.08rem;
  color: #264A2F;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.no-padding {
  padding: 0;
}

@media screen and (max-width: 991px) {
  .no-mobile {
    display: none !important;
  }
  .no-md-mobile {
    display: none !important;
  }
  .mobile-order-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .mobile-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mobile-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 992px) {
  .no-desktop {
    display: none !important;
  }
}

body > .app {
  position: relative;
  display: block;
}

.page {
  overflow-x: hidden;
}

main {
  padding-top: 30px;
}

.container-0 {
  width: 100%;
}

.container-full {
  width: 100%;
  margin-left: 8.33%;
  margin-right: 8.33%;
}

@media screen and (min-width: 1250px) {
  .container {
    max-width: 1220px;
  }
}

.position-relative {
  position: relative;
}

.row15 {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.row15 [class*="col-"] {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.bold {
  font-weight: 700;
}

.bg-white {
  background-color: #fff;
  color: #333333;
}

.bg-light {
  background-color: #f7f7f7 !important;
}

.bg-10 {
  background-color: #00A6DD;
}

.bg-11 {
  background-color: #333333;
  color: #FFF;
}

.bg-green-light {
  background-color: #333333;
}

.btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 0;
}

.btn:focus {
  -webkit-box-shadow: 0 0 6px #00A6DD;
          box-shadow: 0 0 6px #00A6DD;
}

.btn-white {
  background-color: #FFF;
  color: #00A6DD;
}

.btn-white:hover {
  background-color: #FFF;
  color: #00A6DD;
}

.btn-white:focus {
  -webkit-box-shadow: 0 0 6px #FFF;
          box-shadow: 0 0 6px #FFF;
}

.btn-trasparent {
  font-size: 0.81rem;
  background-color: transparent;
  color: #1C4C2C;
  letter-spacing: 1px;
  padding: 15px 30px;
  border: solid 1px #00A6DD;
}

.btn-trasparent:hover, .btn-trasparent:visited {
  background-color: transparent;
  color: #1C4C2C;
}

.btn-trasparent:focus {
  -webkit-box-shadow: 0 0 6px #00A6DD;
          box-shadow: 0 0 6px #00A6DD;
}

.btn-10, .btn-10:visited {
  background-color: #00A6DD;
  color: #FFF;
}

.btn-10:hover, .btn-10:visited:hover {
  background-color: #333333;
  color: #FFF;
}

.btn-10:focus, .btn-10:visited:focus {
  -webkit-box-shadow: 0 0 6px #00A6DD;
          box-shadow: 0 0 6px #00A6DD;
}

.section {
  position: relative;
  overflow: hidden;
}

.section-main {
  position: relative;
  padding: 5rem 0;
}

.section-main.only-padding-top {
  padding: 5rem 0 0 0;
}

.section-main.only-padding-bottom {
  padding: 0 0 5rem 0;
}

.bordered-ff {
  background-color: #FFF;
  padding: 15px;
  margin-bottom: 30px;
}

@-webkit-keyframes uparrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(-0.4em);
            transform: translateY(-0.4em);
    opacity: 0.9;
  }
}

@keyframes uparrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(-0.4em);
            transform: translateY(-0.4em);
    opacity: 0.9;
  }
}

@-webkit-keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
    opacity: 0.9;
  }
}

@keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
    opacity: 0.9;
  }
}

.up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
          animation: uparrow 0.6s infinite alternate ease-in-out;
}

.down {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
          animation: downarrow 0.6s infinite alternate ease-in-out;
}

.arrow-scroll {
  position: absolute;
  bottom: -15rem;
  left: 0;
  font-size: 72px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.main-title h1 {
  font-size: 2rem;
  color: #333333;
}

.main-title h1::after {
  content: "–";
}

.main-title .pretitle {
  font-size: .75rem;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 15px;
}

@media screen and (max-width: 575px) {
  .main-title .pretitle {
    margin-left: calc(100vw / 12);
  }
}

@media screen and (min-width: 576px) {
  .main-title .pretitle {
    margin-left: calc(540px / 12);
  }
}

@media screen and (min-width: 768px) {
  .main-title .pretitle {
    margin-left: calc(720px / 12);
  }
}

@media screen and (min-width: 992px) {
  .main-title .pretitle {
    margin-left: calc(960px / 12);
  }
}

@media screen and (min-width: 1200px) {
  .main-title .pretitle {
    margin-left: calc(1140px / 12);
  }
}

.main-title .pretitle::after {
  content: "—";
}

.bg-10 .main-title h1,
.bg-10 .main-title .pretitle,
.bg-11 .main-title h1,
.bg-11 .main-title .pretitle {
  color: #FFF;
}

.main-content {
  margin-bottom: 60px;
}

.morebutton {
  font-size: .75rem;
}

.morebutton::after {
  content: "";
  display: inline-block;
  width: 65px;
  height: 33px;
  background-image: url(../images/icons/arrow-green-next.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 15px;
  left: 5px;
}

.swiper-box-one {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .swiper-box-one {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 992px) {
  .swiper-box-one {
    padding-left: 8.33%;
    padding-right: 8.33%;
  }
}

.swiper-box-one::before {
  content: "";
  position: absolute;
  top: 15%;
  bottom: -5rem;
  left: 0;
  right: 0;
  background-color: rgba(178, 178, 178, 0.15);
}

.swiper-box-one .swiper-palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-box-one .swiper-button-next, .swiper-box-one .swiper-button-prev {
  position: absolute;
  width: 43px;
  height: 33px;
  top: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-box-one .swiper-button-next::after, .swiper-box-one .swiper-button-prev::after {
  content: "";
  display: none;
}

.swiper-box-one .swiper-button-next, .swiper-box-one .swiper-container-rtl .swiper-button-prev {
  background-image: url(../images/icons/arrow-grey-next.svg);
  right: calc(8.33% - 43px - 30px);
}

.swiper-box-one .swiper-button-prev, .swiper-box-one .swiper-container-rtl .swiper-button-next {
  background-image: url(../images/icons/arrow-grey-prev.svg);
  left: calc(8.33% - 43px - 30px);
}

@media screen and (max-width: 991px) {
  .swiper-box-one .swiper-button-next, .swiper-box-one .swiper-container-rtl .swiper-button-prev {
    right: 3px;
  }
  .swiper-box-one .swiper-button-prev, .swiper-box-one .swiper-container-rtl .swiper-button-next {
    left: 3px;
  }
}

@media screen and (min-width: 992px) {
  .swiper-box-one .swiper-button-next, .swiper-box-one .swiper-container-rtl .swiper-button-prev {
    right: calc(8.33% - 43px - 30px);
  }
  .swiper-box-one .swiper-button-prev, .swiper-box-one .swiper-container-rtl .swiper-button-next {
    left: calc(8.33% - 43px - 30px);
  }
}

.article-item {
  margin-bottom: 30px;
}

.article-item > a {
  display: block;
}

.article-item .title {
  text-decoration: underline;
}

.article-item .description {
  color: #264A2F;
}

.article-item .article-text {
  padding-top: 50px;
}

.article-item .link-arrow {
  text-align: right;
  display: block;
}

.article-item .figure-wrap {
  margin-bottom: 15px;
  padding-top: calc(100% * 4 / 3);
  position: relative;
}

.article-item .figure-wrap figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.article-item.blue .title {
  color: #00A6DD;
}

.article-item.orange .title {
  color: #FCA437;
}

.article-item.green .title {
  color: #A5C35B;
}

.category-title {
  color: #333333;
  font-size: 1.77rem;
}

.category-title h1 {
  line-height: 1;
  margin-bottom: 0;
  display: inline-block;
  font-size: 1.77rem;
}

.category-title h1::after {
  content: " / ";
}

.category-title .description {
  margin-bottom: 30px;
  line-height: 1;
  font-size: 1.77rem;
}

.section-category::before {
  content: "";
  position: absolute;
  top: auto;
  height: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(178, 178, 178, 0.15);
}

.section-category .category-title.withline {
  margin-bottom: 30px;
}

.section-category .category-title.article-list h1, .section-category .category-title.article-list .first {
  display: inline-block;
  font-size: 1.77rem;
}

.section-category .category-title.article-list h1::after, .section-category .category-title.article-list .first::after {
  content: " / ";
}

.section-category.blue .category-title.withline {
  border-top: solid 1px #00A6DD;
}

.section-category.blue h1, .section-category.blue .first {
  color: #00A6DD;
}

.section-category.blue .btn-trasparent {
  border: solid 1px #00A6DD;
}

.section-category.blue .title {
  color: #00A6DD;
}

.section-category.orange .category-title.withline {
  border-top: solid 1px #FCA437;
}

.section-category.orange h1, .section-category.orange .first {
  color: #FCA437;
}

.section-category.orange .btn-trasparent {
  border: solid 1px #FCA437;
}

.section-category.orange .title {
  color: #FCA437;
}

.section-category.green .category-title.withline {
  border-top: solid 1px #A5C35B;
}

.section-category.green h1, .section-category.green .first {
  color: #A5C35B;
}

.section-category.green .btn-trasparent {
  border: solid 1px #A5C35B;
}

.section-category.green .title {
  color: #A5C35B;
}

.single-article h1 {
  font-size: 2.15rem;
  color: #264A2F !important;
}

.single-article .excerpt {
  font-size: 1.38rem;
  margin-bottom: 60px;
}

.single-article .category-title .first {
  font-size: 1.08rem;
  text-decoration: underline;
}

.single-article .category-title .first::after {
  content: "";
}

.single-article .category-title span:not(:first-child) {
  display: inline-block;
  font-size: 1.08rem;
}

.single-article .category-title span:not(:first-child)::before {
  content: " — ";
}

.single-article .figure-wrap {
  margin-bottom: 30px;
}

.button-section {
  text-align: center;
  padding-top: calc(5rem - 30px);
}

.section-about-me {
  padding: 3rem 0;
}

.section-about-me .title {
  font-size: 1.38rem;
}

.section-about-me .description {
  font-size: 1.08rem;
}

.about-me-img {
  height: 285px;
  width: 285px;
  border-radius: 50%;
}

.about-me-img-wrap {
  display: inline-block;
  position: relative;
}

.about-me-img-wrap::after {
  content: "";
  display: block;
  width: 110px;
  height: 140px;
  background-image: url(../images/icons/leaf.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: -38px;
}

footer {
  position: relative;
  color: #333333;
  padding: 3rem 0;
  font-size: 14px;
}

footer a, footer a:visited {
  color: #333333;
}

footer a:hover {
  color: #FFF;
}

footer > .row > [class*="col-"],
footer > .container > .row > [class*="col-"] {
  margin-bottom: 30px;
}

footer .logo {
  position: relative;
  top: -15px;
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  footer .logo {
    position: relative;
  }
}

@media screen and (min-width: 992px) {
  footer .logo {
    position: relative;
  }
}

footer .footer-infos {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333;
  margin-bottom: 30px;
}

footer .footer-infos .title {
  color: #333333;
  font-size: 14px;
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}

footer .footer-menu li {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  text-transform: lowercase;
}

footer .footer-menu li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #FCA437;
}

footer .footer-menu li a, footer .footer-menu li a:visited, footer .footer-menu li a:hover {
  color: #264A2F;
}

footer .footer-menu li i {
  color: #264A2F;
  font-size: 1rem;
}

footer .social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .social-menu li {
  position: relative;
  margin-bottom: 10px;
}
/*# sourceMappingURL=frontend.css.map */